<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/smarte/Public/css/layout.css"/>
        <link rel="stylesheet" type="text/css" href="/smarte/Public/css/default.css"/>
        <link rel="stylesheet" type="text/css" href="/smarte/Public/css/bootstrap.css"/>
		
<style type="text/css">
</style> 

[% IF skip %]<script> parent.location.reload(); </script> [% END %]
        
    
    <link rel="stylesheet" type="text/css" href="/smarte/Public/css/themes/redmond/jquery-ui-1.9.2.custom.min.css"/>
    <link rel="stylesheet" type="text/css" href="/smarte/Public/css/libs/multiselect/jquery.multiselect.css"/>
    <link rel="stylesheet" type="text/css" href="/smarte/Public/css/libs/multiselect/jquery.multiselect.filter.css"/>
	<link rel="stylesheet" href="/smarte/Public/css/jquery.autocomplete.css" />
    <script type="text/javascript" src="/smarte/Public/js/jquery/1.8.2/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/smarte/Public/js/libs/jquery.qtip-1.0.0-rc3.min.js"></script>
    <script type="text/javascript" src="/smarte/Public/js/libs/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/smarte/Public/js/bootstrap/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/smarte/Public/js/bootstrap/bootstrap-transition.js"></script>
    <script type="text/javascript" src="/smarte/Public/js/main.js"></script>
    <script type="text/javascript" src="/smarte/Public/js/katrina/select_role.js"></script> 
    <script type="text/javascript" src="/smarte/Public/js/libs/jquery-ui-1.9.2.min.js"></script> 
    <script type="text/javascript" src="/smarte/Public/js/libs/datetimepicker.js"></script> 
    <script type="text/javascript" src="/smarte/Public/js/libs/multiselect/jquery.multiselect.min.js" ></script>
    <script type="text/javascript" src="/smarte/Public/js/libs/multiselect/jquery.multiselect.filter.js"></script>  
	<script type="text/javascript" src="/smarte/Public/js/libs/jquery.autocomplete.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#idc_id").multiselect({
                multiple: false,
                header: "请选择机房",
                noneSelectedText: "请选择机房",
                selectedList: 1
            }).multiselectfilter();
        });
		 
	    //报警组
	    $(function(){
	        $("#email_alarm").autocomplete("/katrina/Ajax/get_alarm_group", {
	            width: 260,
	            selectFirst: false
	        });
	        
	        $("#sms_alarm").autocomplete("/katrina/Ajax/get_alarm_group", {
	            width: 260,
	            selectFirst: false
	        });
			
			/* $("#vip_type").change(function(){
			       myval = $("#vip_type").val();
	            if (myval == "1") {
	                $("#VIP").removeAttr("readonly");
	            } else {
	                $("#VIP").attr("readonly", "readonly");
	            }
			}); */
			
	    });
		
	    $(function(){
	        $('.details a[title]').qtip({
	            style: {
	                width: {
	                    max: 380
	                },
	                name: 'green',
	                tip: true
	            },
	            content: {
	                text: false
	            },
	            position: {
	                corner: {
	                    tooltip: 'topRight',
	                    target: 'bottomLeft'
	                },
	                adjust: {
	                    resize: true,
	                    scroll: true
	                }
	            }
	        });
	    })
		
	    $(function(){
	        $("#dosub").click(function(){
	            $('#font_msg').html("");
	            var fieldsetcount = 0;
	            
	            //进行表单检查.检查使用部门 手机 和机器台数
	            var isSignValidate = 1;
	            var alertmsg = "";
	            if ($("#depart_name").val() == "" || $("#depart_name").val() == null) {
	                alertMessage($("#depart_name"), "使用部门不能为空.\n");
	                return false;
	                isSignValidate = 0;
	            }
				
	            if ($("#telephone").val() == "" || $("#telephone").val() == null) {
	                alertMessage($("#telephone"), "手机不能为空.\n");
	                return false;
	                isSignValidate = 0;
	            }
				
				if ($("#idc_id").val() == "" || $("#idc_id").val() == null) {
                    alert("IDC机房必须选择");
                    return false;
                } 
				
				if ($("#vip_type").val()=="1" && $("#VIP").val() == "")
				{
					 alertMessage($("#VIP"), "复用vip模式，则复用vip不能为空.\n");
					return false;
				}
				
				
				var staus_vip = true;
				if ($("#vip_type").val()=="1" && $("#VIP").val() != "")
				{
					var vip = $("#VIP").val();
					$.ajax({
						   type: "POST",
						   url: "/katrina/Ajax/checkvip",
						   data: "VIP="+vip,
						   async: false,
						   dataType: "json",
						   success: function(data){
							   if (data == 0) {
								   alert('vip不存在，请重新输入vip');
								   staus_vip = false;
							   } else {
								   staus_vip = true;
							   }
							   
						   },
						   error: function(){
							   alert("接口错误，稍后再试");
							   staus_vip = false;
						   }
					});
				}
				
				if(!staus_vip){
                	return false;
                }
				
				if ($("#vip_type").val()=="1" && $("#VIP").val() != ""){
		               if (!/^(\d+)\.(\d+)\.(\d+)\.(\d+)$/.test($("#VIP").val())) {
							 alertMessage($("#VIP"), "vip填写不规范.\n");
								return false;
		                }
				}
				
				if ($("#domain_value").val() == "") {
                     alertMessage($("#domain_value"), "业务名不能为空.\n");
                    return false;
                }
				var rsip = $("#rsip").val().split("\n");
				var stat = true;
				$.each(rsip, function(i) {
	               if (!/^(\d+)\.(\d+)\.(\d+)\.(\d+)$/.test($.trim(rsip[i]))) {
	                     stat =  false;
	                }
				});
				if (!stat) {
					alertMessage($("#rsip"), "ip填写不规范.\n");
					alert("ip填写不规范");
					return false;
				}

				if (  $("#vip_port").val() == "") {
                     alertMessage($("#vip_port"), "服务端口不能为空.\n");
                    return false;
                }
				
				if ($("#email_alarm").val() == "") {
                    alertMessage($("#email_alarm"), "邮件报警组不能为空.\n");
                    return false;
                }
				var staus_email_group = true;
				if($("#email_alarm").val() != ""){
					$.ajax({
						type : "POST",
						url  : "/katrina/Ajax/checkAlarmGroupExits",
						data : "alarm_group_name="+$.trim($("#email_alarm").val()),
						async: false,
						   dataType: "json",
						   success: function(data){
							   if (data == 0) {
								   alert('email_alarm不存在，请重新输入email_alarm');
								   staus_email_group = false;
							   } else {
								   staus_email_group = true;
							   }
							   
						   },
						   error: function(){
							   alert("接口错误，稍后再试");
							   staus_email_group = false;
						   }
					});
				}
				
				if(!staus_email_group){
					return false;
				}
				
				if ($("#sms_alarm").val() == "") {
                    alertMessage($("#sms_alarm"), "短信报警组不能为空.\n");
                    return false;
                }
				
				var staus_sms_group = true;
				if($("#sms_alarm").val() != ""){
					$.ajax({
						type : "POST",
						url  : "/katrina/Ajax/checkAlarmGroupExits",
						data : "alarm_group_name="+$.trim($("#sms_alarm").val()),
						async: false,
						   dataType: "json",
						   success: function(data){
							   if (data == 0) {
								   alert('sms_alarm不存在，请重新输入sms_alarm');
								   staus_sms_group = false;
							   } else {
								   staus_sms_group = true;
							   }
							   
						   },
						   error: function(){
							   alert("接口错误，稍后再试");
							   staus_sms_group = false;
						   }
					});
				}
				if(!staus_sms_group){
					return false;
				}
				
				if ($("#checker").val() == "") {
                    alertMessage($("#checker"), "健康检查不能为空.\n");
                   return false;
                }
	            var totalip_type = 0;
	            var need_memo = 0;
	            
	            if (isSignValidate == 0) {
	                alert(alertmsg);
	                return;
	            }
				
				$("#rport").val($("#vip_port").val());
				
	            var ok = confirm("确认表单信息，是否提交？");
	            if (ok == true) {
	                if ($("input:hidden[name='role_type']").val() == 0) {
	                    $("#choose-next").modal("show");
	                    
	                    $("#sub_next_person").click(function(){
	                        var ok = confirm("确认选择此人作为下级审批？");
	                        if (ok) {
	                            var nextPerson = $("select[name='next_exec_person']").val();
	                            $("input:hidden[name='next_exec_peron']").val(nextPerson);
	                            $("#add_task").submit();
	                        } else {
	                            return false;
	                        }
	                    })
	                } else { 
	                    $("#add_task").submit();
	                }
	            }
	        })
	    })
	    
	    function SetSave(){
	        $("#end_flow_flag").val("0");
	        $("#add_task").submit();
	        $("#end_flow_flag").val("1");
	    }
	    
	    $(document).ready(function(){
	    	if ($("#vip_type").val() == 1) {
	    		$("#VIP").show();
    			$("#net_type").hide();
    			$("#vip_tips").html("复用VIP : ");
	    	} else {
	    		$("#VIP").val("");
	    	}
	    	
        	$("#vip_type").change(function(){
        		if ($("#vip_type").val() == 0) {
        			$("#net_type").show();
        			$("#VIP").hide();
        			$("#VIP").val("");
        			$("#vip_tips").html("VIP类型 : ");
        		} else {
        			$("#VIP").show();
        			$("#net_type").hide();
        			$("#vip_tips").html("复用VIP : ");
        		}
        	});
        	
        	
        	
		$("#field-group").hide();
        	$("#checker").change(function(){
        		if ($("#checker").val() == "lvs") {
        			$("#field-group").hide();
    	    	} else {
        			$("#field-group").show();
    	    	}
        	});
        	
        	$("input[name='md5_stauts']").click(function(){
        		if ($("input[name='md5_stauts']:checked").val() == 0) {
        			$("#for_digest").show();
        			$("#for_status_code").hide();
    	    	} else {
    	    		$("#for_digest").hide();
        			$("#for_status_code").show();
    	    	}
        	});
        	
        	$("#vip_port").blur( function () { 
                $("#rport").val($("#vip_port").val());
            });
        });
    </script>
    

		
    <title>自动化运维平台</title>

		
    </head>
    <body>
		
        <div class="body_container">
                    <link rel="stylesheet" type="text/css" href="/Public/css/bootstrap/alert-style.css"/>
  
            <div class="body_middle">
                <div style="margin-top:20px;">
                                        <form action="" method="POST" id="add_task">
                    			
                        <div style="float:left; width:100%;">
								<fieldset> 
									<legend style="color:#555;">域名分配</legend> 
									<div class="field-group" style="margin-bottom:20px;">
                                        <label class="required title" for="checker" style="margin-right:19px;"><font color=red>*</font>域名类型：</label>
                                        <select name='domain_type' class="medium-140" id="domain_type">
                                        	<option value="dns">dns</option>
	                                        <option value="qdns" >qdns</option>
                                        </select>
                                 <!--       <label class="required title" for="checker" style="margin-right:19px;"><font color=red>*</font>IP对应方式：</label>
                                        <select name='checker' class="medium-140" id="checker">
                                        	<option value="lvs">默认lvs</option>
	                                        <option value="ip" >手动输入</option>
                                        </select>
                                   -->
 
										<span class="required title" style="margin-left:40px;margin-right:10px;"><b><font color=red>*</font>域名：</b></span>
	                                   <span class="details"><a title="填写域名,可以用range表示多个域名">
									    <input type="text" name="domain_value" class="large" id="domain_value" value=""/> 

										</a></span> 

	                                </div>
									<div class="field-group" id="field-group">
										<label class="required title" for="rsip" style="margin-right:19px;">IP：</label>
										<span class="details"><a title="列表，请按行填写，每行一个；或者用range在一行中显示">
											<textarea name='rsip' id='rsip' class="xxlarge" style="width:580px; height:90px;"></textarea>
										</a></span> 
									</div>
								</fieldset>
   <input type="hidden" id="projectid" name="projectid" value="[% projectid %]" />
							</div>
                            <div style="float:left;width:800px;">
                                <div style="text-align:center;">
				<input type="submit" class="btn btn-success" value="确认发送" id="dosub" style="margin-right:50px;"/>
                                </div>
                            </div>
                            <div style="float:left;width:1000px;height:50px;">
                            </div>
                        </div>
               </div>
           </div>
       </div>

	</body>
</html>
        
          
