<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        ===
        This comment should NOT be removed.

        Charisma v2.0.0

        Copyright 2012-2014 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
        ===
    -->
    <meta charset="utf-8">
    <title>Free HTML5 Bootstrap Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">

<script>
var p_right;

function clear_show_info(){
    var info_name = document.getElementById("p_name").value;
    var info_belong = document.getElementById("p_belong").value;
    var info_member_g = document.getElementById("p_member").options;
    var info_member = '';
    for(var i=0;i<info_member_g.length;i++){
        if( info_member_g[i].selected )
        {
            info_member += '<br>' + info_member_g[i].text;
        }
    }
    
    var info_alarm = '关';
    if( document.getElementById("p_alarm").checked )
    {
        info_alarm =  '开';
    }
    
    var info_desc = document.getElementById("p_desc").value;


    p_right = '1';
    if( ! info_name )
    {
        p_right = '';
        info_name += '[ERROR]:项目名称为空';
    }
    if( ! info_belong )
    {
        p_right = '';
        info_belong += '[ERROR]:项目归属为空';
    }
    if( ! info_member )
    {
        p_right = '';
        info_member += '[ERROR]:项目成员为空';
    }
    if( ! info_desc )
    {
        p_right = '';
        info_desc += '[ERROR]:项目描述为空';
    }
 

    var info = '项目名称：'+info_name
          +'<br>项目归属：'+info_belong 
          +'<br>项目成员：'+info_member 
          +'<br>报警状态：'+info_alarm 
          +'<br>项目描述：'+info_desc;
    document.getElementById("show_info").innerHTML = info;
 
 
    if( p_right  )
    {
        document.getElementById("submitid").style.display = "";
    }
    else
    {
        document.getElementById("submitid").style.display = "none";
    }


}
function submitdata(){
    if( p_right )
    {
        document.getElementById("formid").submit();
    }
}
</script>
</head>

<body>
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        [% INCLUDE project/menu %]
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-edit"></i>项目信息</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">



<form role="form" id="formid" name= "myform" method = 'post' action = 'create_submit' >
                <div class="alert alert-info">

                           <br><label class="control-label" for="inputSuccess4">运维:</label>

                           <div class="controls">
                        <select data-placeholder="未知" id="p_ops" name="p_ops"  data-rel="chosen" style="width:150px;">
                            <option>cloudops</option>
                            <option>noops</option>
                        </select>
                         </div>

</div>
                <div class="alert alert-info">

                <div class="control-group">

                    <label class="control-label" for="p_belong">项目归属</label>

                    <div class="controls">
                        <select data-placeholder="未知" id="p_belong" name="p_belong"  data-rel="chosen">
                            <option value=""></option>
                            <optgroup label="搜索">

<option>网页搜索</option> 
                            </optgroup>

<optgroup label="beacon">
<option>beacon</option>
</optgroup>
                        </select>
                    </div>
                  </div>
                </div>
 
                <div class="alert alert-info">
                   <div class="control-group">


                     <label class="control-label" for="p_member">项目组成员</label>
                     <div class="controls">
                         <select id="p_member" name="p_member" multiple class="form-control" data-rel="chosen">
                             [% FOREACH user = users %]
                             <option>[% user.0 %]</option>
                             [% END %]
                         </select>
                     </div>

                     <label class="control-label" for="p_opser">运维接口人</label>
                     <div class="controls">
                         <select id="p_opser" name="p_opser" multiple class="form-control" data-rel="chosen">
                             [% FOREACH user = users %]
                             <option>[% user.0 %]</option>
                             [% END %]
                         </select>
                     </div>

                     <label class="control-label" for="p_dever">项目负责人</label>
                     <div class="controls">
                         <select id="p_dever" name="p_dever" multiple class="form-control" data-rel="chosen">
                             [% FOREACH user = users %]
                             <option>[% user.0 %]</option>
                             [% END %]
                         </select>
                     </div>

                   </div>
                 </div>
                <br>


               <div class="alert alert-danger">
                    <strong>是否接收报警</strong>
                    <input data-no-uniform="true" checked="" type="checkbox" class="iphone-toggle" id="p_alarm" name="p_alarm">
                </div>


               <div class="alert alert-info">
                    <label class="control-label" for="p_name">项目名称：</label>
                    <input type="text" class="form-control" id="p_name" name="p_name" >

                <strong>项目描述：</strong><br>
                <textarea class="autogrow" style="width: 100%;" id="p_desc" name="p_desc" ></textarea>
               </div>

               <hr>
               <button type="submit" class="btn btn-info btn-setting" onclick = "clear_show_info();" >提交</button>

</form>
            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->

    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>提交?</h3>
                </div>
                <div class="modal-body">
                    <a id="show_info" ></a>
                </div>
 
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                    <button id="submitid"  type="submit" class="btn btn-primary" onclick = "submitdata();" >提交</button>
                </div>
            </div>
        </div>
    </div>

</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='bower_components/moment/min/moment.min.js'></script>
<script src='bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="js/charisma.js"></script>


</body>
</html>
