<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        ===
        This comment should NOT be removed.

        Charisma v2.0.0

        Copyright 2012-2014 Muhammad Usman
        Licensed under the Apache License v2.0
        http://www.apache.org/licenses/LICENSE-2.0

        http://usman.it
        http://twitter.com/halalit_usman
        ===
    -->
    <meta charset="utf-8">
    <title>Free HTML5 Bootstrap Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>

<!-- thickbox start -->
    <link rel="stylesheet" type="text/css" href="/recorder/css/servers.css?090907" />
    <link rel="stylesheet" type="text/css" href="/recorder/css/clickmenu.css" />
    <link rel="stylesheet" type="text/css" href="/recorder/css/tooltip.css" />
    <link rel="stylesheet" type="text/css" href="/recorder/css/thickbox.css" />
    <script type="text/javascript" src="/recorder/js/edit_station.js?090907"></script>
    <script type="text/javascript" src="/recorder/js/jquery-1.2.6-pack.js"></script>
    <script type="text/javascript" src="/recorder/js/jquery.cookie.js?100625"></script>
    <script type="text/javascript" src="/recorder/js/jquery.clickmenu.pack.js"></script>
    <script type="text/javascript" src="/recorder/js/jquery.columnmanager.js"></script>
    <script type="text/javascript" src="/recorder/js/jquery.tooltip.js"></script>
    <script type="text/javascript" src="/recorder/js/thickbox.js"></script>
<!-- thickbox end -->

    <!-- jQuery -->
    <script src="bower_components/jquery/jquery.min.js"></script>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">

<script>
  function t(obj)
  {
    window.location='/project/list?belong='+obj.value;
  }
</script>

</head>

<body>
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        [% INCLUDE project/menu %]
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
</div>

<br>
<div class=" row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="分配的机器次" class="well top-block" href="#">
            <i class="glyphicon glyphicon-user blue"></i>

            <div>成员</div>
            <div>[% count.user %]</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="项目总数" class="well top-block" href="#">
            <i class="glyphicon glyphicon-star green"></i>

            <div>项目</div>
            <div>[% count.project %]</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="被分配的申请" class="well top-block" href="#">
            <i class="glyphicon glyphicon-briefcase yellow"></i>

            <div>机器</div>
            <div>[% count.host %]</div>
        </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6">
        <a data-toggle="tooltip" title="未分配的申请" class="well top-block" href="/project/list_unaskforresources">
            <i class="glyphicon glyphicon-envelope red"></i>

            <div>未分配</div>
            <div>[% count.askforresources %]</div>
        </a>
    </div>
</div>


<div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i> 项目列表</h2>

        <div class="box-icon">
            <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
            <a href="#" class="btn btn-minimize btn-round btn-default"><i
                    class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
    <div class="box-content">
    <div class="alert alert-info">


           <div class="control-group">
                    <label class="control-label" for="selectError">项目归属:([% belong %])</label>

                    <div class="controls">
                        <select id="selectError" data-rel="chosen" onchange="t(this)">
                            <option value=""></option>
                            <option value="">全部</option>

[% INCLUDE project/business %]

                        </select>
                    </div>
           </div>


</div>

    <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
    <tr>
        <th>项目名称</th>
        <th>归属</th>
        <th>成员</th>
        <th>运维</th>
        <th>运维接口人</th>
        <th>项目负责人</th>
        <th>报警</th>
        <th>描述</th>
        <th>Hermes</th>
        <th>机器数</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
[% FOREACH d IN data %]
    <tr>
        <td>[% d.1 %]</td>
        <td>[% d.2 %]</td>
        <td>[% d.3 %]</td>
        <td>[% d.8 %]</td>
        <td>[% d.9 %]</td>
        <td>[% d.10 %]</td>
        <td>[% IF d.4 %]开[% ELSE %]关[% END %]</td>
        <td>[% d.5 %]</td>
        <td><a href='/project/list_hermes?name=[% d.6 %]' >[% d.6 %]</a></td>
        <td>[% d.7 %]</td>
        <td class="center">
            <a href="/project/askforresources?project_id=[% d.0 %]" title="申请资源">
                <i class="glyphicon glyphicon-leaf"></i>
            </a>
            <a href='/project/view?project_id=[% d.0 %]&TB_iframe=true&height=600&width=800' class='thickbox' title="查看">
                <i class="glyphicon glyphicon-eye-open"></i>
            </a>
 
            <a href="/project/allocateresource?project_id=[% d.0 %]" title="分配资源">
                <i class="glyphicon glyphicon-qrcode"></i>
            </a>
            <a href="/project/editapp?project_id=[% d.0 %]" title="编辑app">
                <i class="glyphicon glyphicon-cog"></i>
            </a>
 
           <a href='/project/editproject_update?id=[% d.0 %]' title="编辑">
            <i class="glyphicon glyphicon-wrench"></i>
          </a>

            <a href='/project/showmonitor?hermes=[% d.6 %]&TB_iframe=true&height=800&width=1000' class='thickbox' title="查看监控">
            <i class="glyphicon glyphicon-screenshot"></i>
          </a>
          <a href='[%settings.cluster_status%][% d.6 %]' target="_blank" title="查看集群状态">
            <i class="glyphicon glyphicon-zoom-in icon-white"></i></a>

        </td>
    </tr>
[% END %]

    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->



    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->
</div><!--/.fluid-container-->

<!-- external javascript -->

<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- library for cookie management -->
<script src="js/jquery.cookie.js"></script>
<!-- calender plugin -->
<script src='bower_components/moment/min/moment.min.js'></script>
<script src='bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='js/jquery.dataTables.min.js'></script>

<!-- select or dropdown enhancer -->
<script src="bower_components/chosen/chosen.jquery.min.js"></script>
<!-- plugin for gallery image view -->
<script src="bower_components/colorbox/jquery.colorbox-min.js"></script>
<!-- notification plugin -->
<script src="js/jquery.noty.js"></script>
<!-- library for making tables responsive -->
<script src="bower_components/responsive-tables/responsive-tables.js"></script>
<!-- tour plugin -->
<script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
<!-- star rating plugin -->
<script src="js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="js/charisma.js"></script>


</body>
</html>
